h1 {
	/*color: #FF8000;
	border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 1px dashed purple;
}


h4{
	background: rgb(255,100,80);
}
body{
	background: pink;
	/*background-repeat: no-repeat;
	background-size: cover;*/
}

/*li{
font-variant: small-caps;
}*/ 