
img{
	width: 30%;
	float: left;
	margin: 1.66%;
}

p{
	font-family: raleway;
	margin-left: 1.66%;
	font-size: 25;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 1px solid #f5f5f5;
	padding-bottom: 5px;
}