
td {
	width: 100px;
	height: 100px;
	/*background: grey;*/


}
table{
	margin:  0 auto;
}
h1{
	text-align: center;
}
body{
margin: auto;

}

#tl{
	border-right: 2px solid black;
	border-bottom: 2px solid black;

}
#tm{
	border-right: 2px solid black;
	border-bottom: 2px solid black;


}
#tr{

	border-bottom: 2px solid black;


}

#ml{
	border-right: 2px solid black;
	border-bottom: 2px solid black;


}
#mm{
	border-right: 2px solid black;
	border-bottom: 2px solid black;


}
#mr{
	border-bottom: 2px solid black;


}#bl{
	border-right: 2px solid black;

}
#bm{
	border-right: 2px solid black;

}
#br{


}